.idea
.vscode
node_modules
.coverage
/playwright-report/
/test-results/
/playwright/.cache/
/.local-browsers/
/allure-results/
/.allure/

# Playwright
/blob-report/
/playwright/.auth/

# Environment variables
.env.local
.env*.local

# Storybook build output
storybook-static
